<%- include('partials/header.ejs') %>
<h1>Compose</h1>
<form class="" action="/compose" method="post">
  <label for="newT">Title</label>
  <input type="text" name="newT" value="">
  <label for="newC">Post</label>
  <input type="text" name="newC" value="">
   <button type="submit" name="button">Publish</button>
</form>

<%- include('partials/footer.ejs') %>
